@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

body {
  background-color: rgba(51, 51, 51, 0.66);
  font-family: 'Work Sans', sans-serif;
  background-image: url(./imgs/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

h1 {
  text-align: center;
  margin: 3%;
  color: rgba(255, 255, 255, 0.751);
  letter-spacing: 2px;
  font-size: 2rem;
}

h2 {
  color: rgba(255, 255, 255, 0.751);
  margin: 3%;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  text-transform: capitalize;
  text-align: center;
  margin: 1rem;
  font-size: 1.4rem;
}

p {
  margin: 1rem 1rem 4rem 5rem;
  display: absolute;
  font-size: 1.2rem;
}

input {
  margin: 0 auto;
  margin-bottom: 2rem;
  display: block;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.113);
}

/* CARD STYLES */

.about-p {
  text-align: center;
  color: rgba(255, 255, 255, 0.624);
  line-height: 1.7rem;
  margin-top: 5%;
}

.card-container {
  display: grid;
  width: 80vw;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 1.7rem;
  margin: 0 auto;
}

.card {
  width: 200px;
  height: 300px;
  border: 1px solid #333;
  border-radius: 10px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.384);
}

.card img {
  width: 198px;
  height: 170px;
  border-radius: 10px 10px 0 0;
}

.like-btn {
  padding: 7px;
  background-color: rgb(3, 3, 3);
  border-radius: 7px;
  border: none;
  color: rgb(222, 219, 219);
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-family: 'Work Sans', sans-serif;
}

.dislike-btn {
  padding: 7px;
  background-color: rgba(3, 3, 3);
  border-radius: 7px;
  border: none;
  color: rgb(222, 219, 219);
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  font-family: 'Work Sans', sans-serif;
}

.remove-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgb(222, 219, 219);
  color:rgb(222, 219, 219);
  background-color: rgb(3, 3, 3);
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
}

/* HOME */

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 55vh;
  margin: 0 auto;
  position: relative;
}

.cat-img, 
.bird-img {
  width: 500px;
  height: 350px;
  border-radius: 1rem;
  margin: 3rem;
  filter:contrast(1.2);
}

/* NAVIGATION STYLES */

nav {
  margin: 3rem 0 5rem 0;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.728);
  text-decoration: none;
}

li {
  margin: 1rem;
  padding: 1rem;
  letter-spacing: 2px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.732);
}


 




